<h1>Welcome to Blocipedia!</h1>
<h2>What would you like to do?</h2>
<div class="container">
  <div class="row">
    <%= link_to "Browse wikis", wikis_path, class: 'btn btn-primary btn-lg col-sm-4 offset-4' %>
    <%= link_to "Edit my profile", edit_user_registration_path, class: 'btn btn-light btn-lg col-sm-4' %>
  </div>
</div>
