<%= form_for wiki.collaborations.new, url: collaborations_path, html: {class: "add-collaborators"}, method: "post" do |f| %>
  <div class="form-group">
    <%= f.select( :user_id, options_for_select( candidate_list(@wiki) ) ) %>
    <%= f.hidden_field :wiki_id, value: @wiki.id.to_s %>
  </div>
  <div class="form-group">
    <%= f.submit "Save Collaborator", class: 'btn btn-success' %>
  </div>
<% end %>
